{% apply inky_to_html | inline_css(source('@styles/foundation-emails.css'), source('@styles/mail.css')) %}
<wrapper class="header" bgcolor="#E3E3E3">
    <container>
        <row>
            <columns>
                <spacer size="30"></spacer>
                <center>
                    <a href="{{ absolute_url(path('app_homepage')) }}">
                        <img class="float-center" src="{{ absolute_url(asset('build/img/email-logo.png')) }}" alt="Logo">
                    </a>
                </center>
                <spacer size="30"></spacer>
                <hr>
            </columns>
        </row>
        {% block content %}{% endblock %}
        {% block footer %}
            <row class="light-grey-background">
                <columns small="10" large="10">
                    <p class="grey-color only-normal-m-top">
                        {{ main_brand_phone_1 }}<br>
                        {{ main_brand_address }}<br>
                        {{ main_brand_city }}
                    </p>
                </columns>
                <columns small="1" large="1">
                    <p class="grey-color only-normal-m-top">
                        <a href="https://www.facebook.com/pasarepas">
                            <img height="35" width="35" src="{{ absolute_url(asset('build/img/email_facebook.png')) }}" alt="Facebook logo">
                        </a>
                    </p>
                </columns>
                <columns small="1" large="1">
                    <p class="grey-color only-normal-m-top">
                        <a href="https://www.instagram.com/pasarepas">
                            <img height="35" width="35" src="{{ absolute_url(asset('build/img/email-instagram.png')) }}" alt="Instagram logo">
                        </a>
                    </p>
                </columns>
            </row>
        {% endblock %}
    </container>
</wrapper>
{% endapply %}
