{% extends 'Front/base.html.twig' %}

{% block title %}{{ 'frontend.layout.menu.blog' | trans | title }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container-fluid">
        {%  include "Front/includes/blog_heading_image.html.twig" %}
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-8">
                {# main right side #}
                {% for post in posts %}
                    <div class="card mb-5">
                        {% if post.imageName %}
                            <a href="{{ path('app_blog_detail', { year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d'), slug: post.slug }) }}">
                                <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('750x250') }}" alt="{{ post.title }} thumbnail" class="card-img-top">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="text-muted">{{ post.publishedAt | date('d/m/Y') }}{% if post.categories | length > 0 %}&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.categories | join(', ') }}{% endif %}</h6>
                            <p class="card-text">{{ post.description | striptags | u.truncate(100, true) | raw }}</p>
                            <a class="btn btn-violet" href="{{ path('app_blog_detail', { year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d'), slug: post.slug }) }}" class="c-violet">{{ 'frontend.blog.main.keep_reading' | trans | upper }} <i class="icon-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                {% endfor %}
                {% include "Front/includes/paginator_buttons_bar.html.twig" with {pagination: posts} %}
            </div>
            <div class="col-sm-4">
                {# right side #}
                {% if categories | length > 0 %}
                    <h3 class="c-cyan">{{ 'frontend.blog.main.categories' | trans | upper }}</h3>
                    {% block categories %}
                        <div class="list-group list-group-flush">
                            {% for category in categories %}
                                {% if category.posts | length > 0 %}
                                    <a href="{{ path('app_blog_category_detail', {slug: category.slug}) }}" class="list-group-item list-group-item-action">{{ category.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
