<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% if google_tag_manager_enabled %}
        {% apply spaceless %}
            <script>
                (function(w,d,s,l,i){
                    w[l] = w[l] || [];
                    w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
                    var f = d.getElementsByTagName(s)[0], j=d.createElement(s), dl=l!='dataLayer'? '&l=' + l : '';
                    j.async = true;
                    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{ google_tag_manager_account }}');
            </script>
        {% endapply %}
    {% endif %}
    <meta name="description" content="{% block metadescription %}{{ 'frontend.meta' | trans({'%main_brand_title%': main_brand_title}) | lower }}{% endblock %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="author" content="www.flux.cat">
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>{% block title %}{{ main_brand_title }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('frontend') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('favicon.png') }}"/>
    {% if facebook_pixel_enabled %}
        <script type="text/javascript">
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '{{ facebook_pixel_id }}', {em: 'insert_email_variable,'});
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ facebook_pixel_id }}&ev=PageView&noscript=1"/>
        </noscript>
    {% endif %}
    {% block head_javascripts %}
        {{ encore_entry_script_tags('frontend') }}
        {{ encore_entry_script_tags('scroll_to_flash') }}
    {% endblock %}
</head>
<body{% block body_class %} class="my-body" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"{% endblock %}>
    {% if google_tag_manager_enabled %}
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_manager_account }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    {% endif %}
    {#<!-- Fixed top menu -->#}
    {% block header %}
        <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_homepage') }}">
                    <h1 class="visually-hidden">{{ main_brand_title }}</h1>
                    <img src="{{ asset('build/img/menu.png') }}" alt="{{ 'frontend.layout.main.title' | trans | capitalize }}"/>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {{ knp_menu_render('top', {currentClass: 'active'}) }}
                </div>
            </div>
        </nav>
    {% endblock %}


{#    <nav class="navbar navbar-default fixed-top my-nav">#}
{#        <div class="container">#}
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="navbar-header">#}
{#                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" data-aria-expanded="false" data-aria-controls="navbar">#}
{#                    <span class="sr-only">{{ 'frontend.layout.toggle.navigation' | trans }}</span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                </button>#}
{#                {% block head %}#}
{#                    <a class="navbar-brand" href="{{ path('app_homepage') }}"><img src="{{ asset('build/images/menu.png') }}" alt="{{ 'frontend.layout.main.title' | trans | capitalize }}"/></a>#}
{#                {% endblock %}#}
{#                <h1 class="text-hide">{{ 'frontend.layout.main.title' | trans | capitalize }}. Acadèmia escolar i classes de repàs a Amposta.</h1>#}
{#            </div>#}
{#            {% block menu %}#}
{#                <div id="navbar" class="navbar-collapse collapse float-right">#}
{#                    <ul class="nav navbar-nav navbar-right">#}
{#                        <li><a href="#classes-de-repas">{{ 'frontend.layout.menu.courses' | trans | upper }}</a></li>#}
{#                        <li><a href="#sobre-mi">{{ 'frontend.layout.menu.about' | trans | upper }}</a></li>#}
{#                        <li><a href="#contacte">{{ 'frontend.layout.menu.contact' | trans | upper }}</a></li>#}
{#                        <li><a href="{{ path('app_blog') }}">{{ 'frontend.layout.menu.blog' | trans | upper }}</a></li>#}
{#                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
{#                            <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-cog"></i></a></li>#}
{#                        {% endif %}#}
{#                    </ul>#}
{#                </div>#}
{#            {% endblock %}#}
{#        </div>#}
{#    </nav>#}
    {#<!-- Main content -->#}
    {% block main %}{% endblock %}
    {#<!-- Scroll-Top effect -->#}
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-2x fa-arrow-circle-up"></i></span></div>
    {#<!-- Footer -->#}
    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li class="col-sm-3 hidden-xs"></li>
                            <li class="col-sm-3 col-xs-12">
                                <h5>{{ 'frontend.layout.footer.contact' | trans | upper }}:</h5>
                                <address>
                                    <span>{{ boss_name | upper }}</span><br>
                                    <i class="fa fa-envelope"></i> <a href="mailto:{{ main_brand_email }}">{{ main_brand_email }}</a><br>
                                    <i class="fa fa-phone-square"></i> <a href="tel:{{ main_brand_phone_1 | replace({' ': ''}) }}">{{ main_brand_phone_1 }}</a>
                                </address>
                            </li>
                            <li class="col-sm-3 col-xs-12">
                                <h5>{{ 'frontend.layout.footer.address' | trans | upper }}:</h5>
                                <address>
                                    <span>{{ main_brand_address }}</span><br>
                                    43870 Amposta<br>
                                    (Tarragona)
                                </address>
                            </li>
                            <li class="col-sm-3 hidden-xs text-right">
                                <a target="_blank" href="https://www.facebook.com/pasarepas"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;<a target="_blank" href="https://www.instagram.com/pasarepas"><i class="fa fa-instagram fa-2x"></i></a><br><br>
                                <a href="{{ path('app_credits') }}">crèdits</a><br>
                                <a href="{{ path('app_privacy_policy') }}">política de privacitat</a><br>
                                <i class="fa fa-copyright"></i> {{ 'now' | date('Y') }}
                            </li>
                            <li class="visible-xs text-right">
                                <a target="_blank" href="https://www.facebook.com/pasarepas"><i class="fa fa-facebook-official fa-2x"></i></a><br><br>
                                <a href="{{ path('app_credits') }}">crèdits</a><br>
                                <a href="{{ path('app_privacy_policy') }}">política de privacitat</a><br>
                                <i class="fa fa-copyright"></i> {{ 'now' | date('Y') }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    {#<!-- Javascripts -->#}
    {% block javascripts %}{% endblock %}
</body>
</html>
