{% extends 'Front/base.html.twig' %}

{% form_theme contactForm _self %}

{% block _contact_message_send_widget %}
    <button type="submit" {{ block('button_attributes') }}><span class="hack">{{ label | trans({}, translation_domain) }}</span> <i class="fa icon-arrow-right" style="float:right;margin: 3px 0 0 7px;"></i></button>
{% endblock %}

{% block _contact_homepage_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="checkbox-privacy-homepage" {{ block('widget_attributes') }} />
        <label for="checkbox-privacy-homepage" class="control-label my-privacy-label-homepage">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    {{ ivory_google_map_js(map) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ ivory_google_map_css(map) }}
{% endblock %}

{% block main %}
    <div class="container-fluid p-0">
        <div class="row bc-brown">
            <div class="col">
                <img src="{{ asset('build/img/head.jpg') | imagine_filter('2400xY') }}" class="img-fluid" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
            </div>
        </div>
    </div>
    <div id="classes-de-repas" class="vertical-offset">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col">
                    <h2 class="my-h2 text-center">{{ 'frontend.index.courses.long_title' | trans | upper }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bc-magenta" id="primaria">
                        <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <img class="img-fluid" src="{{ asset('build/img/c1-primary.jpg') | imagine_filter('1050xY') }}" alt="heart shape lovely girls and colors zenit"/>
                            </div>
                            <div class="col-md-7 col-sm-6 c-white">
                                <div class="banner-service">
                                    <h3 class="mt-0"><i class="icon-pencil me-2"></i> {{ 'frontend.index.courses.primary' | trans | upper }}</h3>
                                    {{ 'frontend.index.primary_txt' | trans | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bc-wine" id="eso">
                        <div class="row">
                            <div class="col-md-7 col-sm-6 c-white">
                                <div class="banner-service">
                                    <h3 class="mt-0"><i class="icon-ruler me-2"></i> {{ 'frontend.index.courses.eso' | trans | upper }}</h3>
                                    {{ 'frontend.index.eso_txt' | trans | raw }}
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <img class="img-fluid" src="{{ asset('build/img/c2-eso.jpg') | imagine_filter('1050xY') }}" alt="teacher and student boys on a colorful background"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bc-violet" id="batxillerat">
                        <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <img class="img-fluid" src="{{ asset('build/img/c3-school.jpg') | imagine_filter('1050xY') }}" alt="student making maths on chalkboard"/>
                            </div>
                            <div class="col-md-7 col-sm-6 c-white">
                                <div class="banner-service">
                                    <h3 class="mt-0"><i class="icon-book me-2"></i> {{ 'frontend.index.courses.school' | trans | upper }}</h3>
                                    {{ 'frontend.index.sc_school' | trans | raw  }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bc-lviolet" id="selectivitat">
                        <div class="row">
                            <div class="col-md-7 col-sm-6 c-white">
                                <div class="banner-service">
                                    <h3 class="mt-0"><i class="icon-check me-2"></i> {{ 'frontend.index.courses.selectivity' | trans | upper }}</h3>
                                    <p>{{ 'frontend.index.selectivity_txt' | trans | raw }}</p>
                                    <ul class="mb-0">
                                        <li>{{ 'frontend.index.selectivity_list.pau' | trans }}</li>
                                        <li>{{ 'frontend.index.selectivity_list.pacfs' | trans }}</li>
                                        <li>{{ 'frontend.index.selectivity_list.pacfm' | trans }}</li>
                                        <li>{{ 'frontend.index.selectivity_list.pau25' | trans }}</li>
                                        <li>{{ 'frontend.index.selectivity_list.cc' | trans }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <img class="img-fluid" src="{{ asset('build/img/c4-selectivity.jpg') | imagine_filter('1050xY') }}" alt="a shiny maths book over a dark background"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bc-cyan" id="universitat">
                        <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <img class="img-fluid" src="{{ asset('build/img/c5-university.jpg') | imagine_filter('1050xY') }}" alt="pretty girl smiling with laptop in a classroom"/>
                            </div>
                            <div class="col-md-7 col-sm-6 c-white">
                                <div class="banner-service">
                                    <h3 class="mt-0"><i class="icon-hat me-2"></i> {{ 'frontend.index.courses.university' | trans | upper }}</h3>
                                    {{ 'frontend.index.university_txt' | trans | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sobre-mi" class="vertical-offset">
        <div class="container-fluid">
            <div class="row bc-grey justify-content-center p-5">
                <div class="col-12 col-md-6">
                    <p class="c-white text-center mb-0">{{ 'frontend.index.about_mi' | trans | raw }}</p>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row bc-lbrown">
                <div class="col-12">
                    <img src="{{ asset('build/img/about.jpg') | imagine_filter('2400xY') }}" class="img-fluid center-block" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
                </div>
            </div>
        </div>
    </div>
    <div id="contacte" class="container vertical-offset">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="my-h2 text-center">{{ 'frontend.layout.menu.contact' | trans | upper }}</h2>
                <p class="text-center c-grey">
                    {{ 'frontend.index.contact.msg1' | trans }}<br>
                    {{ 'frontend.index.contact.msg2' | trans }}
                </p>
                {{ form_start(contactForm) }}
                <div class="row c-grey">
                    <div class="col-sm-2 hidden-xs"></div>
                    <div class="col-sm-4 col-xs-6">
                        {{ form_errors(contactForm) }}
                        {{ form_row(contactForm.name) }}
                        {{ form_row(contactForm.email) }}
                        {{ form_row(contactForm.phone) }}
                        {{ form_row(contactForm.send) }}
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        {{ form_row(contactForm.message) }}
                        {{ form_row(contactForm.captcha) }}
                        {{ form_rest(contactForm) }}
                    </div>
                    <div class="col-sm-2 hidden-xs"></div>
                </div>
                {{ form_end(contactForm) }}
            </div>
            <div class="col-12">
                <hr style="margin-top:70px">
                <h2 class="my-h2 text-center">{{ 'frontend.index.contact.msg3' | trans | upper }}</h2>
                <p class="text-center c-grey">
                    {{ 'frontend.index.contact.msg4' | trans }}<br>
                </p>
                <p class="text-center">
                    <a id="whatsapp-href-holder" href="https://wa.me/34{{ main_brand_phone_1 | replace({' ': ''}) }}?text={{ 'frontend.index.contact.msg5' | trans }}" class="btn btn-violet"><i class="fa fa-paper-plane" style="margin-right:5px" aria-hidden="true"></i> {{ 'frontend.index.contact.msg6' | trans }}</a>
                </p>
            </div>
        </div>
    </div>
    <div id="localitzacio" class="container-fluid px-0 vertical-offset">
        <div class="row">
            <div class="col-12">
                {{ ivory_google_map_container(map) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ ivory_google_api([map]) }}
{% endblock %}
