{% extends 'Front/layout.html.twig' %}

{% form_theme preRegisterForm _self %}

{% block _pre_register_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block title %}{{ 'frontend.menu.preregisters' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block main %}
    {% include 'Front/includes/notice_flash.html.twig' %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h1 class="c-blue no-m-top extra-m-bottom">{{ 'frontend.preregister.main_title' | trans }}</h1>
                <div class="extra-m-bottom">
                    <ul class="nav nav-tabs normal-m-bottom" role="tablist">
{#                        <li role="presentation"><a href="#season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_JULY_2020') }}" aria-controls="season-tab-summer" role="tab" data-toggle="tab" class="c-violet"><strong>{{ 'frontend.preregister.title_summer' | trans }}</strong></a></li>#}
                        <li role="presentation" class="active"><a href="#season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_SEPTEMBER_2020') }}" aria-controls="season-tab-winter" role="tab" data-toggle="tab" class="c-violet"><strong>{{ 'frontend.preregister.title_winter' | trans }}</strong></a></li>
                    </ul>
                    <div class="tab-content">
{#                        <div role="tabpanel" class="tab-pane active" id="season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_JULY_2020') }}">#}
{#                            <p class="c-violet">{{ 'frontend.preregister.description_summer' | trans }}</p>#}
{#                        </div>#}
                        <div role="tabpanel" class="tab-pane" id="season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_SEPTEMBER_2020') }}">
                            <p class="c-violet">{{ 'frontend.preregister.description_winter' | trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_start(preRegisterForm) }}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                {{ form_row(preRegisterForm.name) }}
                {{ form_row(preRegisterForm.phone) }}
                {{ form_row(preRegisterForm.age) }}
                {{ form_row(preRegisterForm.preferredTimetable) }}
            </div>
            <div class="col-sm-6 col-md-4">
                {{ form_row(preRegisterForm.surname) }}
                {{ form_row(preRegisterForm.email) }}
                {{ form_row(preRegisterForm.courseLevel) }}
                {{ form_row(preRegisterForm.previousAcademy) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                {{ form_row(preRegisterForm.comments) }}
                {{ form_row(preRegisterForm.privacy) }}
                {{ form_row(preRegisterForm.send) }}
            </div>
        </div>
        {{ form_rest(preRegisterForm) }}
        {{ form_end(preRegisterForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            setPreRegisterSeasonNodeValue({{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_SEPTEMBER_2020') }});
            jQuery('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                let hrefTargetNode = jQuery(e.target).attr('href');
                if (hrefTargetNode === "#season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_JULY_2020') }}") {
                    setPreRegisterSeasonNodeValue({{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_JULY_2020') }});
                } else if (hrefTargetNode === "#season-tab-{{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_SEPTEMBER_2020') }}") {
                    setPreRegisterSeasonNodeValue({{ constant('App\\Enum\\PreRegisterSeasonEnum::SEASON_SEPTEMBER_2020') }});
                }
            })
        });
        function setPreRegisterSeasonNodeValue(value) {
            let seasonNode = jQuery('#{{ preRegisterForm.season.vars.id }}');
            seasonNode.val(value);
        }
    </script>
{% endblock %}
