{% extends "Admin/layout.html.twig" %}

{% block sonata_head_title %}{{ 'backend.admin.login.title' | trans }} · {{ main_brand_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('backend') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('backend') }}
{% endblock %}

{% block sonata_nav %}{% endblock sonata_nav %}

{% block logo %}{% endblock logo %}

{% block sonata_left_side %}{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box" style="background-color:{{ admin_color }}">
        <div class="login-logo no-margin">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <img style="margin:10px" src="{{ asset(admin_logo) | imagine_filter('200xY')}}" alt="{{ main_brand_title }} logo">
            </a>
        </div>
        <div class="login-box-body">
            {% block sonata_user_login_form %}
                {% if admin_is_stage %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-warning">
                                <i class="fas fa-exclamation-triangle mr-1"></i> {{ 'backend.admin.is_stage_warning' | trans }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% block sonata_user_login_error %}
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey | trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% endblock %}
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block main_form %}
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.password) }}
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-primary btn-block">{{ 'backend.admin.login.submit' | trans }}</button>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                {% endblock %}
            {% endblock %}
        </div>
        <div class="login-box-bottom">
            <p style="padding:15px">
                {% block footer_router %}
                    <a href="{{ path('app_forgot_password_request') }}"><i class="fa fa-key"></i> He oblidat la contrasenya</a>
                {% endblock %}
                <span style="margin-top:5px;display:block;">{{ admin_tag_version }}</span>
            </p>
        </div>
    </div>
{% endblock sonata_wrapper %}
