<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="author" content="www.flux.cat">
    <title>{% block title %}Hello FacebookLoginController!{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    {% block javascripts_head %}{% endblock %}
</head>
<body>
{% block body %}
    {% block javascripts_body %}{{ encore_entry_script_tags('app') }}{% endblock %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="d-flex flex-grow-1">
                        <span class="w-100 d-lg-none d-block">{#<!-- hidden spacer to center brand on mobile -->#}</span>
                        <a class="navbar-brand" href="#">
                            <img class="navbar-logo" src="{{ asset('build/menu.png') }}" alt="Logo">
                        </a>
                        <div class="w-100 text-right">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse flex-grow-1 text-right" id="top-navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6 mb-5">Hello {{ controller_name }}! ✅</h1>
            </div>
        </div>
    </div>
    {% block javascripts_bottom_body %}{% endblock %}
{% endblock %}
</body>
